<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Importando Tailwind CSS -->
  <link rel="stylesheet" href="/public/styles/output.css">
</head>
<body>
  <div class="h-screen grid bg-[#EDEDED]" style="grid-template-columns: 250px 1fr;">
    <%- include('./includes/InternalSidebar.ejs') %>
  <div class="w-full h-full">
    <%- include('./includes/Navbar.ejs') %>
    <div class="w-full h-full flex flex-col items-center text-lg">
      <div class="container w-full h-full flex flex-col items-center bg-white p-10">
        <div class="w-full h-16 bg-[#EDEDED] rounded-md gap-8 grid grid-cols-4 py-2 px-4">

          <div class="flex items-center gap-2 font-semibold">
            <div class="w-10 h-10 bg-green-500 flex items-center justify-center rounded-full hover:bg-green-600 duration-300 cursor-pointer" >
              <img src="/public/svg/cross.svg" alt="Cross Icon">
            </div>
            <h4>Cadastrar item</h4>
          </div> 

          <div class="search w-full p-2 bg-[#D9D9D9] rounded-xl flex items-center justify-center gap-2 text-black">
            <img src="/public/svg/search.svg" alt="Search Icon" />
            <input
              class="border-0 bg-transparent outline-none placeholder-black placeholder-opacity-60 w-full"
              type="text"
              placeholder="Procurar por funções"
            />
          </div>
        </div>

        <div class="mt-8 grid grid-cols-5 gap-6 w-full">
          <%- include('./includes/mock-card-item.ejs') %>
          <%- include('./includes/mock-card-item.ejs') %>
          <%- include('./includes/mock-card-item.ejs') %>
          <%- include('./includes/mock-card-item.ejs') %>
          <%- include('./includes/mock-card-item.ejs') %>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
