

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/public/styles/output.css">
    <script src="https://kit.fontawesome.com/10a6f28d4d.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="p-7 bg-[#DDDDE2] flex flex-col gap-y-5 h-screen w-full ">
    <div class=" h-fit w-full">
      <%- include('./includes/navbar.ejs') %>
    </div>
    <div class="row h-full flex row-span-11 rounded-2xl w-full border border-gray-400 shadow-lg over overflow-hidden">
      <%- include('./includes/sidebar.ejs') %>
      <div class="w-full h-full rounded-r-2xl bg-[#F1F1F1] overflow-scroll flex-grow no-scrollbar">
        <div class="w-full h-full flex flex-col items-center justify-center bg-[#F1F1F1]">
          <div class="w-full h-full rounded bg-[#F1F1F1] px-16 py-2"> 
            <div
              class="p-4 w-full flex grow just"
            >
              <div class="flex w-full duration-300 justify-between">
                <div class="flex gap-4 items-center hover:opacity-60 cursor-pointer">
                  <i class="fa-solid fa-arrow-left"></i>
                  <h3 class="font-bold text-2xl">Produtos</h3>
                </div>
                <div class="flex gap-4 items-center justify-center cursor-pointer">
                  <div class="flex gap-2 items-center justify-center px-4 py-2 bg-[#39DB4A] hover:bg-[#39db498e] duration-300 text-white rounded-lg">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <a href="/company/products/register" class="">Cadastrar Produto</a>
                  </div>
                </div>
              </div>
            </div>
            <table class="w-full bg-white border rounded-lg shadow-md table-fixed">
              <thead class="bg-gray-800 text-white">
                <tr>
                  <th class="w-1/7 px-4 py-2">ID</th>
                  <th class="w-1/7 px-4 py-2">Categoria</th>
                  <th class="w-1/7 px-4 py-2">Título</th>
                  <th class="w-1/7 px-4 py-2 w-40">Descrição</th>
                  <th class="w-2/7 px-4 py-2">Imagens</th>
                  <th class="w-1/7 px-4 py-2">Valor</th>
                  <th class="w-1/7 px-4 py-2">Desconto (%)</th>
                  <th class="w-1/7 px-4 py-2">Valor Com desconto (R$)</th>
                  <th class="w-1/7 px-4 py-2 w-fit"></th>
                </tr>
              </thead>
              <tbody class="text-gray-700">
                <% products.forEach(product => { %>
                  <tr class="group transition-all duration-300">
                    <td class="border px-4 py-2 group-hover:bg-gray-300"><%= product.id %></td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300"><%= product.category %></td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300"><%= product.title %></td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300 text-ellipsis overflow-hidden whitespace-nowrap w-40"><%= product.description %></td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300">
                      <div class="grid grid-cols-2 justify-start gap-4">
                        <% images[product.id].forEach((image, index) => { %>
                          <% if (index < 4) { %>
                            <div class="group-hover:w-20 group-hover:h-20 w-12 h-12 bg-cover bg-center bg-no-repeat rounded-lg transition-all duration-300" style="background-image: url('/public/images/<%= image.imageUrl %>')"></div>
                          <% } %>
                        <% }) %>
                      </div>
                    </td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300">R$<%= product.value %> </td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300"><%= product.discountPercent %>%</td>
                    <td class="border px-4 py-2 group-hover:bg-gray-300">R$<%= product.value - ( product.value * (product.discountPercent / 100)) %> </td>
                    <td class="group-hover:bg-gray-300 text-center align-middle h-full w-11 border border-gray-300">
                      <div class="flex-col items-center justify-center h-full w-auto p-2">
                        <a href="">
                          <form action="">
                            <input hidden name="productId" type="text" value="<%= product.id %>">
                            <input hidden name="userToken" type="text" value="<%= company.id %>">
                            <h4 class="hover:opacity-60 duration-300 cursor-pointer p-2 w-full rounded-lg text-white bg-red-500 mb-4">Deletar</h4>
                          </form>
                        </a>
                        <h4 class="hover:opacity-60 duration-300 cursor-pointer p-2 w-full rounded-lg text-white bg-blue-500">Editar</h4>
                      </div>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script src="/public/js/bundle.js">
  loginRequired();
</script>

<%- include('./includes/toasts.ejs') %>